body {
    background-color: #eee;
}

.container {
    width: 920px;
    height: 620px;
    margin: 10px auto;
    overflow: hidden;
    border-style: dashed;
    border-width: 5px;
    padding: 0px;
}

.header {
    padding: 5px;
    background-color: azure;
    height: 80px;
}

.header .brandname {
    padding: 0px 10px;
}

.articles {
    float: left;
    width: 75%;
    height: 80%;
    margin: 0px;
    background-color: white;
    overflow: scroll;
}

.sidebar {
    float: right;
    width: 24.5%;
    margin: 0px;
    background-color: white;
    overflow: scroll;
    height: 80%;
}

.articles .post {
    padding: 5px;
}

.articles .post .title {
    color: blue;
    margin: 0px;
    padding: 5px 10px;
    display: inline-block;
}

.articles .post p {
    color: gray;
    margin: 0px;
    padding: 5px 10px;
}

.articles .post .date {
    float: right;
    color: #aaa;
    font-size: 0.8em;
}

.widget {}

.widget h3 {
    background-color: azure;
    padding: 5px;
    margin-top: 0px;
}

.widget p {
    padding: 0px;
}

.footer {
    clear: both;
    text-align: center;
}

.navbar{
    background-color: azure;
}
.navbar ul{
    list-style-type: none;
    margin: 4px 0px;;
    padding: 5px 0px;
    
}

.navbar ul li{
    display: inline-block;
    padding-right: 30px;
    padding-left: 20px;
}
.navbar ul li a{
    display:block;
    text-decoration: none;
    padding: 0px 0px;
    color: #000;
}